/build/
**/*.cache.js
**/*.symbolMap
**/gwt-unitCache*
**/*.jar
**/*.devmode.js
**/*.nocache.js
**/*.gwt.rpc
src/main/webapp/chemconnectcore/**
**/.DS_Store
war/chemconnectcore/**
src/main/webapp/WEB-INF/deploy/chemconnectcore/**


